# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.env
.env.*
.env*/
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
man/
share/
include/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.cache/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.local/
__pycache__/
migration_*/ 

# Ignore migrations, as they should be included with the application
**/migrations/*.py
**/migrations/*.pyc
